body {
    margin: 0;
    padding: 0;
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: "Images/OdinLogo.jpg";
}
header {
    background-color: #a9792b;
    color:#FFF;
    border: 2px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.container {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10%;   
}
.bold {
    font-weight: 800;
}
.projeto {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: thin #c0c0c0 solid;
}
.projeto img {
    max-width: 250px;
}
.projeto figcaption {
    background-color: #a9792b;
    color: #fff;
    width: 98%;
    padding: 3px;
    text-align: center;
}
.link {
    text-decoration: none;
    color:inherit;
}